@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=JetBrains+Mono:wght@400;500&family=Playfair+Display:ital,wght@0,700;1,700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
  --font-serif: "Playfair Display", serif;
  
  --color-editorial-bg: #F5F2EF;
  --color-editorial-sidebar: #FDFCFB;
  --color-editorial-main: #F9F7F4;
  --color-editorial-text: #1A1A1A;
  --color-editorial-border: #D1CEC7;
  --color-editorial-accent: #EBE7E0;
}

@layer base {
  body {
    @apply bg-editorial-bg text-editorial-text antialiased;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  @apply bg-transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-zinc-300 rounded-full;
}

